<ion-content>
  <ion-slides pager="true" [options]="slideOpt">

    <ion-slide>
      <ion-icon name="close"></ion-icon>
      <h1>Slide 1</h1>
      <h2>sub titulo</h2>
      <ion-icon name="musical-note-outline"></ion-icon>
      <img src="assets/images/slide1.jpg"/>
      <p>Descripcion de esta imagen</p>
    </ion-slide>

    <ion-slide>
      <ion-icon name="close"></ion-icon>
      <h1>Slide 2</h1>
      <h2>sub titulo</h2>
      <ion-icon name="musical-notes-outline"></ion-icon>      <img src="assets/images/slide2.jpg"/>
      <p>Descripcion de esta imagen</p>
    </ion-slide>

    <ion-slide>
      <ion-icon name="close"></ion-icon>
      <h1>Slide 3</h1>
      <h2>sub titulo</h2>
      <ion-icon name="play-outline"></ion-icon>
      <img src="assets/images/slide3.jpeg"/>
      <p>Descripcion de esta imagen</p>
    </ion-slide>

  </ion-slides>
</ion-content>
